.footer-container {
  
  footer {
    border: 0;
    background: transparent;
    
    ul {
      list-style: none;
      padding: 0;
    }
    
    a, a:visited {
      color: #AAA;
      text-decoration: none;
      
      span {
        text-decoration: none;
        margin: 0 4px 0 0;
      }
    }
    
    a:hover, a:active, a:focus {
      color: white;
      text-decoration: underline;
    }
  }
}
