
/* Style du menu de choix de groupe */
.group-selection-container {
  border-radius: 4px;
  
  h2 {
    .gradient(@gl-button-color-a, @gl-button-color-b);
    border: 0;
    border-radius: 4px 4px 0 0;
    color: @gl-button-text-color;
    font-size: 16px;
    font-weight: normal;
    
    margin: 0;
    padding: 8px 16px;
    
    &:not(:disabled):hover {
      color: @gl-button-text-color-hover;
      background: @gl-button-color-hover;
      cursor: pointer;
    }
    
    &.closed {
      border-radius: 4px;
      border-bottom: 1px solid @shadow-color;
    }
  }
  
  fieldset {
    border: 0;
    border-bottom: 1px solid @shadow-color;
    border-radius: 0 0 4px 4px;
    
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
  }
  
  
  // Masquage des éléments
  fieldset.hidden, fieldset > ul ul.hidden {
    display: none;
  }
  
  ul {
    background: @gl-button-color-b;
    font-family: "Ubuntu Condensed", Ubuntu_condensed, Ubuntu, Arial, sans-serif;
    font-size: 16px;
    
    list-style: none;
    padding: 0;
    
    & ul {
      background: @gl-sublist-color;
      padding: 0;
    }
    
    li {
      margin: 0;
    }
    
    a, label {
      border: 0;
      color: @gl-button-text-color;
      text-align: left;
      
      display: block;
      margin: 0;
      padding: 8px 16px;
      vertical-align: top;
      width: 100%;
      
      transition: 100ms ease-in-out;
      
      &:hover {
        background-color: @gl-group-color-hover;
        color: @gl-button-text-color-hover;
        cursor: pointer;
        text-decoration: none;
      }
    }
    
    input {
      display: none;
    }
    
    input:checked + label, input:checked + label:hover {
      background-color: @gl-group-color-checked;
      color: @gl-group-text-color-checked;
      font-weight: bold;
    }
  }
}

