@import "mixins.less";
@import "colors.less";

/* Corps de la page */
html {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  
  overflow: scroll;
  overflow-x: hidden;
  overlfow-y: scroll;
  padding-top: 2em;
}

body {
  background-color: @background-color;
}

@import "header.less";
@import "group-selection-container.less";
@import "form.less";
@import "nav.less";
@import "edt.less";
@import "footer.less";
@import "errors.less";
@import "set-background.less";

/* Style de bouton */
.button {
  .gradient(@button-color-a, @button-color-b);
  border: 0;
  border-bottom: 1px solid @shadow-color;
  border-radius: 4px;
  color: @text-color;
  font-family: "Ubuntu Condensed", Ubuntu_condensed;
  font-size: 16px;
  
  margin: 0;
  padding: 8px 16px;
  
  &:not(:disabled):hover {
    background: @button-color-hover;
    color: @button-text-color-hover;
    cursor: pointer;
  }
  
  > span[class*="icon-"] {
    float: right;
  }
}

/* LARGE SCREENS */
@media screen and (min-width: 960px) {
  
  /* Style du menu de choix de groupe */
  .group-selection-container {
    position: relative;
    z-index: 100;
    
    fieldset {
      position: absolute;
      width: 100%;
      width: calc(~"100% - 28px");
    }
  }
  
  /* Jours de l'emploi du temps */
  .edt-container {
    .day {
      transition: 200ms ease-in-out;
    }
    
    .day:hover {
      opacity: 0.99;
    }
    
    .day:not(:hover) {
      opacity: 0.85;
    }
  }
}

/* MEDIUM SCREENS */
@media screen and (min-width: 650px) and (max-width: 959px) {
    /* your css goes here */
}

/* SMALL SCREENS */
@media screen and (max-width: 649px) {
  html {
    padding-top: 1em;
  }
  
  h1 {
    text-align: center;
  }
  
  .week-infos {
    margin-bottom: 1em;
  }
}
