.week-infos {
  color: @text-color;
  background: @main-color;
  border-radius: 4px;
  border-bottom: 1px solid @shadow-color;
  margin-bottom: 2em;
  text-align: center;
  padding: 6px 0 10px;
  
  h2 {
    font-size: 22px;
    margin: 0 0 4px;
    line-height: 32px;
  }
  
  a {
    display: inline-block;
    color: @text-color;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 6px;
    width: 18px + 2 * 6px;
    height: 18px + 2 * 6px;
    line-height: 18px;
    vertical-align: middle;
    border-radius: 50%;
    -webkit-transition: 150ms ease-in-out;
    -moz-transition: 150ms ease-in-out;
    -ms-transition: 150ms ease-in-out;
    -0-transition: 150ms ease-in-out;
    transition: 150ms ease-in-out;
    
    &#prev-week {
      
    }
    
    &#next-week {
    }
    
    &:hover {
      background-color: @text-color;
      color: @main-color;
    }
  }

  p {
    color: #666;
    font-size: 12px;
    font-style: italic;
    margin-top: 4px;
  }
}
