/* Style du menu de choix de groupe */
.group-selection-container {
  border-radius: 4px;
}
.group-selection-container h2 {
  border: 0;
  border-radius: 4px 4px 0 0;
  color: black;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 8px 16px;
}
.group-selection-container h2:hover {
  background: #d7dade;
  cursor: pointer;
}
.group-selection-container h2.closed {
  border-radius: 4px;
  border-bottom: 2px solid black;
}
.group-selection-container fieldset {
  border: 0;
  border-bottom: 2px solid black;
  border-radius: 0 0 4px 4px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
.group-selection-container fieldset.hidden,
.group-selection-container fieldset > ul ul.hidden {
  display: none;
}
.group-selection-container ul {
  background: #b2b9c2;
  font-family: "Ubuntu Condensed", Ubuntu_condensed, Ubuntu, Arial, sans-serif;
  font-size: 16px;
  list-style: none;
  padding: 0;
}
.group-selection-container ul ul {
  background: rgba(255, 255, 255, 0.3);
  padding: 0;
}
.group-selection-container ul li {
  margin: 0;
}
.group-selection-container ul a,
.group-selection-container ul label {
  border: 0;
  color: #444;
  text-align: left;
  display: block;
  margin: 0;
  padding: 8px 16px;
  vertical-align: top;
  width: 100%;
  transition: 200ms ease-in-out;
}
.group-selection-container ul a:hover,
.group-selection-container ul label:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.group-selection-container ul input {
  display: none;
}
.group-selection-container ul input:checked + label {
  background-color: #2D4552;
  color: white;
}
.group-selection-container fieldset > ul > li > a:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
