/* Couleurs */
/* Corps de la page */
html {
  font-family: Ubuntu, Arial, sans-serif;
  font-size: 14px;
  overflow: scroll;
  overflow-x: hidden;
  overlfow-y: scroll;
  padding-top: 2em;
}
body {
  background-color: #666666;
}
/* En-tête */
.header-container header h1 a,
.header-container header h1 a:visited,
.header-container header h1 a:active,
.header-container header h1 a:focus,
.header-container header h1 a:hover {
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.6);
  outline: 0;
  border: 0;
}
/* Style du menu de choix de groupe */
.group-selection-container {
  border-radius: 4px;
}
.group-selection-container h2 {
  background: #c4c4c4;
  background: -moz-linear-gradient(top, #dddddd 0%, #c4c4c4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #c4c4c4));
  background: -webkit-linear-gradient(top, #dddddd 0%, #c4c4c4 100%);
  background: -o-linear-gradient(top, #dddddd 0%, #c4c4c4 100%);
  background: -ms-linear-gradient(top, #dddddd 0%, #c4c4c4 100%);
  background: linear-gradient(to bottom, #dddddd 0%, #c4c4c4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='argb(@colora)', endColorstr='argb(@colorb)', GradientType=0);
  border: 0;
  border-radius: 4px 4px 0 0;
  color: #262626;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 8px 16px;
}
.group-selection-container h2:not(:disabled):hover {
  color: #262626;
  background: #d0d0d0;
  cursor: pointer;
}
.group-selection-container h2.closed {
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
.group-selection-container fieldset {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 0 0 4px 4px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
.group-selection-container fieldset.hidden,
.group-selection-container fieldset > ul ul.hidden {
  display: none;
}
.group-selection-container ul {
  background: #c4c4c4;
  font-family: "Ubuntu Condensed", Ubuntu_condensed, Ubuntu, Arial, sans-serif;
  font-size: 16px;
  list-style: none;
  padding: 0;
}
.group-selection-container ul ul {
  background: rgba(255, 255, 255, 0.4);
  padding: 0;
}
.group-selection-container ul li {
  margin: 0;
}
.group-selection-container ul a,
.group-selection-container ul label {
  border: 0;
  color: #262626;
  text-align: left;
  display: block;
  margin: 0;
  padding: 8px 16px;
  vertical-align: top;
  width: 100%;
  transition: 100ms ease-in-out;
}
.group-selection-container ul a:hover,
.group-selection-container ul label:hover {
  background-color: rgba(255, 255, 255, 0.8);
  color: #262626;
  cursor: pointer;
  text-decoration: none;
}
.group-selection-container ul input {
  display: none;
}
.group-selection-container ul input:checked + label,
.group-selection-container ul input:checked + label:hover {
  background-color: #9d9d9d;
  color: #ffffff;
  font-weight: bold;
}
.date-radio-input label,
.checkbox-input label {
  display: block;
}
.date-radio-input label span,
.checkbox-input label span {
  float: right;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: 2px;
  width: 16px;
  text-align: left;
}
.date-radio-input label input,
.checkbox-input label input {
  display: none;
}
.date-radio-input label input[type="radio"]:checked + span:before,
.checkbox-input label input[type="radio"]:checked + span:before {
  content: "\f111";
}
.date-radio-input label input[type="radio"]:not(:checked) + span:before,
.checkbox-input label input[type="radio"]:not(:checked) + span:before {
  content: "\f10c";
}
.date-radio-input label input[type="checkbox"]:checked + span:before,
.checkbox-input label input[type="checkbox"]:checked + span:before {
  content: "\f046";
}
.date-radio-input label input[type="checkbox"]:not(:checked) + span:before,
.checkbox-input label input[type="checkbox"]:not(:checked) + span:before {
  content: "\f096";
}
/* Bouton de validation */
.submit-container button[type="submit"].button {
  background: #e0dada;
  background: -moz-linear-gradient(top, #f7f6f6 0%, #e0dada 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f6f6), color-stop(100%, #e0dada));
  background: -webkit-linear-gradient(top, #f7f6f6 0%, #e0dada 100%);
  background: -o-linear-gradient(top, #f7f6f6 0%, #e0dada 100%);
  background: -ms-linear-gradient(top, #f7f6f6 0%, #e0dada 100%);
  background: linear-gradient(to bottom, #f7f6f6 0%, #e0dada 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='argb(@colora)', endColorstr='argb(@colorb)', GradientType=0);
  color: #262626;
  width: 100%;
}
.submit-container button[type="submit"].button:not(:disabled):hover {
  color: #262626;
  background: #ece8e8;
  cursor: pointer;
}
.week-infos {
  color: #000000;
  background: #dddddd;
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  margin-bottom: 2em;
  text-align: center;
  padding: 6px 0 10px;
}
.week-infos h2 {
  font-size: 22px;
  margin: 0 0 4px;
  line-height: 32px;
}
.week-infos a {
  display: inline-block;
  color: #000000;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  padding: 6px;
  width: 30px;
  height: 30px;
  line-height: 18px;
  vertical-align: middle;
  border-radius: 50%;
  -webkit-transition: 150ms ease-in-out;
  -moz-transition: 150ms ease-in-out;
  -ms-transition: 150ms ease-in-out;
  -0-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.week-infos a:hover {
  background-color: #000000;
  color: #dddddd;
}
.week-infos p {
  color: #666;
  font-size: 12px;
  font-style: italic;
  margin-top: 4px;
}
.edt-infos-container {
  margin-top: 0;
}
.edt-container {
  color: #000000;
  padding: 0;
  margin: 0;
  list-style: none;
}
.edt-container li {
  list-style: none;
}
.edt-container ol {
  padding: 0;
  list-style: none;
}
.edt-container .day-container .day {
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  overflow: hidden;
}
.edt-container .day-container .day h3 {
  background: #dddddd;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #dddddd 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='argb(@colora)', endColorstr='argb(@colorb)', GradientType=0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 -1px 1px rgba(255, 255, 255, 0.1) inset;
  color: black;
  font-family: "Ubuntu Condensed", Ubuntu_condensed;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 8px 16px;
}
.edt-container .day-container .day .event-list {
  background: #dddddd;
  margin: 0;
}
.edt-container .day-container .day .event-list > :nth-child(even) {
  background-color: #d0d0d0;
}
.edt-container .day-container .day .event-list .interlude {
  color: #444;
}
.edt-container .day-container .day .event-list .interlude [class*="icon-"] {
  float: right;
}
.edt-container .day-container .day .event-list .event,
.edt-container .day-container .day .event-list .interlude {
  margin: 0;
  padding: 8px 16px;
}
.edt-container .day-container .day .details {
  color: #000000;
  text-align: center;
  margin: 0 0 4px;
  padding: 0;
  font-size: 14px;
}
.edt-container .day-container .day .details .location {
  font-family: "Ubuntu Condensed", Ubuntu_condensed;
}
.edt-container .day-container .day .details .startTime {
  color: #4d4d4d;
  float: left;
}
.edt-container .day-container .day .details .endTime {
  color: #4d4d4d;
  float: right;
}
.edt-container .day-container .day .summary {
  text-align: center;
}
.edt-container .day-container .day .teacher {
  display: block;
  color: #4d4d4d;
  font-family: "Ubuntu Condensed", Ubuntu_condensed;
  font-size: 12px;
  font-style: italic;
  margin-top: 8px;
}
.footer-container footer {
  border: 0;
  background: transparent;
  font-size: 16px;
}
.footer-container footer ul {
  color: #ffffff;
  list-style: none;
  padding: 0;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
}
.footer-container footer a,
.footer-container footer a:visited {
  color: #ffffff;
  text-decoration: none;
}
.footer-container footer a span,
.footer-container footer a:visited span {
  text-decoration: none;
  margin: 0 4px 0 0;
}
.footer-container footer a:hover,
.footer-container footer a:active,
.footer-container footer a:focus {
  color: #ffffff;
  text-decoration: underline;
}
/* Container des erreurs */
.error-container > * {
  background: #af2123;
  background: -moz-linear-gradient(top, #b02124 0%, #7e1517 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b02124), color-stop(100%, #7e1517));
  background: -webkit-linear-gradient(top, #b02124 0%, #7e1517 100%);
  background: -o-linear-gradient(top, #b02124 0%, #7e1517 100%);
  background: -ms-linear-gradient(top, #b02124 0%, #7e1517 100%);
  background: linear-gradient(to bottom, #b02124 0%, #7e1517 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#af2123', endColorstr='#7c1516', GradientType=0);
  border-radius: 4px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 8px 16px;
}
.error-container > * span[class*="icon-"] {
  margin-right: 8px;
}
.error-container > *:empty {
  display: none;
}
.set-background ul {
  margin-top: 0;
}
.set-background .image {
  background-repeat: repeat-x repeat-y;
  background-color: #AAA;
  border: 4px solid #AAA;
  border-radius: 7px;
  min-height: 200px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
  transition: border-color 200ms ease-in-out;
  -webkit-transition: border-color 200ms ease-in-out;
  -moz-transition: border-color 200ms ease-in-out;
  -ls-transition: border-color 200ms ease-in-out;
  -o-transition: border-color 200ms ease-in-out;
}
.set-background .image:hover {
  border-color: #EEE;
}
.set-background .image.selected {
  border-color: white;
}
.set-background .home-link a {
  width: 100%;
}
.set-background .home-link a span {
  float: none;
  margin: 0;
  margin-right: 4px;
}
.set-background .home-link a:hover {
  text-decoration: none;
}
/* Style de bouton */
.button {
  background: #dddddd;
  background: -moz-linear-gradient(top, #f7f7f7 0%, #dddddd 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(100%, #dddddd));
  background: -webkit-linear-gradient(top, #f7f7f7 0%, #dddddd 100%);
  background: -o-linear-gradient(top, #f7f7f7 0%, #dddddd 100%);
  background: -ms-linear-gradient(top, #f7f7f7 0%, #dddddd 100%);
  background: linear-gradient(to bottom, #f7f7f7 0%, #dddddd 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='argb(@colora)', endColorstr='argb(@colorb)', GradientType=0);
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 4px;
  color: #000000;
  font-family: "Ubuntu Condensed", Ubuntu_condensed;
  font-size: 16px;
  margin: 0;
  padding: 8px 16px;
}
.button:not(:disabled):hover {
  background: #eaeaea;
  color: #000000;
  cursor: pointer;
}
.button > span[class*="icon-"] {
  float: right;
}
/* LARGE SCREENS */
@media screen and (min-width: 960px) {
  /* Style du menu de choix de groupe */
  .group-selection-container {
    position: relative;
    z-index: 100;
  }
  .group-selection-container fieldset {
    position: absolute;
    width: 100%;
    width: calc(100% - 28px);
  }
  /* Jours de l'emploi du temps */
  .edt-container .day {
    transition: 200ms ease-in-out;
  }
  .edt-container .day:hover {
    opacity: 0.99;
  }
  .edt-container .day:not(:hover) {
    opacity: 0.85;
  }
}
/* MEDIUM SCREENS */
@media screen and (min-width: 650px) and (max-width: 959px) {
  /* your css goes here */
}
/* SMALL SCREENS */
@media screen and (max-width: 649px) {
  html {
    padding-top: 1em;
  }
  h1 {
    text-align: center;
  }
  .week-infos {
    margin-bottom: 1em;
  }
}
