/* Corps de la page */
html {
  background-color: #111c22;
  background-image: url("/images/background.png");
  font-family: "Ubuntu Condensed", Ubuntu_condensed, Ubuntu, Arial, sans-serif;
  font-size: 14px;
  overflow: scroll;
  overflow-x: hidden;
  overlfow-y: scroll;
  padding-top: 2em;
}
/* En-tête */
.header-container header h1 a,
.header-container header h1 a:visited,
.header-container header h1 a:active,
.header-container header h1 a:focus,
.header-container header h1 a:hover {
  color: white;
  text-decoration: none;
  text-shadow: 0 2px 0 black;
  outline: 0;
  border: 0;
}
/* Style du menu de choix de groupe */
.group-selection-container {
  border-radius: 4px;
}
.group-selection-container h2 {
  border: 0;
  border-radius: 4px 4px 0 0;
  color: black;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  padding: 8px 16px;
}
.group-selection-container h2:hover {
  background: #d7dade;
  cursor: pointer;
}
.group-selection-container h2.closed {
  border-radius: 4px;
  border-bottom: 2px solid black;
}
.group-selection-container fieldset {
  border: 0;
  border-bottom: 2px solid black;
  border-radius: 0 0 4px 4px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
.group-selection-container fieldset.hidden,
.group-selection-container fieldset > ul ul.hidden {
  display: none;
}
.group-selection-container ul {
  background: #b2b9c2;
  font-family: "Ubuntu Condensed", Ubuntu_condensed, Ubuntu, Arial, sans-serif;
  font-size: 16px;
  list-style: none;
  padding: 0;
}
.group-selection-container ul ul {
  background: rgba(255, 255, 255, 0.3);
  padding: 0;
}
.group-selection-container ul li {
  margin: 0;
}
.group-selection-container ul a,
.group-selection-container ul label {
  border: 0;
  color: #444;
  text-align: left;
  display: block;
  margin: 0;
  padding: 8px 16px;
  vertical-align: top;
  width: 100%;
  transition: 200ms ease-in-out;
}
.group-selection-container ul a:hover,
.group-selection-container ul label:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #000;
  cursor: pointer;
  text-decoration: none;
}
.group-selection-container ul input {
  display: none;
}
.group-selection-container ul input:checked + label {
  background-color: #2D4552;
  color: white;
}
.group-selection-container fieldset > ul > li > a:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.date-radio-input label,
.checkbox-input label {
  display: block;
}
.date-radio-input label span,
.checkbox-input label span {
  float: right;
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  position: relative;
  top: 2px;
  width: 16px;
  text-align: left;
}
.date-radio-input label input,
.checkbox-input label input {
  display: none;
}
.date-radio-input label input[type="radio"]:checked + span:before,
.checkbox-input label input[type="radio"]:checked + span:before {
  content: "\f111";
}
.date-radio-input label input[type="radio"]:not(:checked) + span:before,
.checkbox-input label input[type="radio"]:not(:checked) + span:before {
  content: "\f10c";
}
.date-radio-input label input[type="checkbox"]:checked + span:before,
.checkbox-input label input[type="checkbox"]:checked + span:before {
  content: "\f046";
}
.date-radio-input label input[type="checkbox"]:not(:checked) + span:before,
.checkbox-input label input[type="checkbox"]:not(:checked) + span:before {
  content: "\f096";
}
/* Bouton de validation */
.submit-container button {
  width: 100%;
}
.edt-container {
  color: black;
  padding: 0;
  margin: 0;
  list-style: none;
}
.edt-container li {
  list-style: none;
}
.edt-container ol {
  padding: 0;
  list-style: none;
}
.edt-container .day-container .day {
  border-radius: 4px;
  border-bottom: 2px solid black;
  overflow: hidden;
}
.edt-container .day-container .day h3 {
  background: -moz-linear-gradient(top, #f2f2f2 0%, #b2b9c2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #b2b9c2));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #b2b9c2 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #b2b9c2 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #b2b9c2 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%, #b2b9c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#b0b7c1', GradientType=0);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) inset, 0 -1px 1px rgba(255, 255, 255, 0.1) inset;
  color: black;
  font-family: "Ubuntu Condensed", Ubuntu_condensed, Ubuntu, Arial, sans-serif;
  font-size: 20px;
  font-weight: normal;
  margin: 0;
  padding: 8px 16px;
}
.edt-container .day-container .day .event-list {
  background: #b2b9c2;
  margin: 0;
}
.edt-container .day-container .day .event-list > :nth-child(even) {
  background-color: #a4a7b7;
}
.edt-container .day-container .day .event-list .interlude {
  color: #444;
}
.edt-container .day-container .day .event-list .interlude [class*="icon-"] {
  float: right;
}
.edt-container .day-container .day .event-list .event,
.edt-container .day-container .day .event-list .interlude {
  margin: 0;
  padding: 8px 16px;
}
.edt-container .day-container .day .details {
  color: black;
  text-align: center;
  margin: 0 0 4px;
  padding: 0;
  font-size: 14px;
}
.edt-container .day-container .day .details .location {
  font-family: "Ubuntu Condensed", Ubuntu_condensed;
}
.edt-container .day-container .day .details .startTime {
  color: #444;
  float: left;
}
.edt-container .day-container .day .details .endTime {
  color: #444;
  float: right;
}
.edt-container .day-container .day .summary {
  text-align: center;
}
.edt-container .day-container .day .teacher {
  display: block;
  color: #666;
  font-family: "Ubuntu Condensed", Ubuntu_condensed;
  font-size: 12px;
  font-style: italic;
  margin-top: 8px;
}
.footer-container footer {
  border: 0;
  background: transparent;
}
.footer-container footer ul {
  list-style: none;
  padding: 0;
}
.footer-container footer a,
.footer-container footer a:visited {
  color: #AAA;
  text-decoration: none;
}
.footer-container footer a span,
.footer-container footer a:visited span {
  text-decoration: none;
  margin: 0 4px 0 0;
}
.footer-container footer a:hover,
.footer-container footer a:active,
.footer-container footer a:focus {
  color: white;
  text-decoration: underline;
}
/* Container des erreurs */
.error-container > * {
  background: #af2123;
  background: -moz-linear-gradient(top, #b02124 0%, #7e1517 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #b02124), color-stop(100%, #7e1517));
  background: -webkit-linear-gradient(top, #b02124 0%, #7e1517 100%);
  background: -o-linear-gradient(top, #b02124 0%, #7e1517 100%);
  background: -ms-linear-gradient(top, #b02124 0%, #7e1517 100%);
  background: linear-gradient(to bottom, #b02124 0%, #7e1517 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#af2123', endColorstr='#7c1516', GradientType=0);
  border-radius: 4px;
  border-bottom: 2px solid black;
  color: white;
  font-size: 16px;
  text-align: center;
  padding: 8px 16px;
}
.error-container > * span[class*="icon-"] {
  margin-right: 8px;
}
.error-container > *:empty {
  display: none;
}
/* Style de bouton */
.button {
  background: #f2f2f2;
  background: -moz-linear-gradient(top, #f2f2f2 0%, #b2b9c2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f2f2), color-stop(100%, #b2b9c2));
  background: -webkit-linear-gradient(top, #f2f2f2 0%, #b2b9c2 100%);
  background: -o-linear-gradient(top, #f2f2f2 0%, #b2b9c2 100%);
  background: -ms-linear-gradient(top, #f2f2f2 0%, #b2b9c2 100%);
  background: linear-gradient(to bottom, #f2f2f2 0%, #b2b9c2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#b0b7c1', GradientType=0);
  border: 0;
  border-bottom: 2px solid black;
  border-radius: 4px;
  color: black;
  font-family: "Ubuntu Condensed", Ubuntu_condensed, Ubuntu, Arial, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 8px 16px;
}
.button:not(:disabled):hover {
  background: #d7dade;
  cursor: pointer;
}
.button > span[class^="icon-"] {
  float: right;
}
/* LARGE SCREENS */
@media screen and (min-width: 960px) {
  /* Style du menu de choix de groupe */
  .group-selection-container {
    position: relative;
    z-index: 100;
  }
  .group-selection-container fieldset {
    position: absolute;
    width: 100%;
    width: calc(100% - 28px);
  }
  /* Jours de l'emploi du temps */
  .edt-container .day {
    transition: 200ms ease-in-out;
  }
  .edt-container .day:hover {
    opacity: 0.99;
  }
  .edt-container .day:not(:hover) {
    opacity: 0.85;
  }
}
/* MEDIUM SCREENS */
@media screen and (min-width: 650px) and (max-width: 959px) {
  /* your css goes here */
}
/* SMALL SCREENS */
@media screen and (max-width: 649px) {
  html {
    padding-top: 1em;
  }
  h1 {
    text-align: center;
  }
}
